<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}" />
  {% if custom_csas %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/' + custom_css + '.css') }}" />
  {% endif %}
  <link rel="icon" href="https://miro.medium.com/max/1400/1*YTvHpW7GNBDZfxVAIinLYA.jpeg"
</head>
<body>
  {% block body %}
  {% endblock %}
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
